*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background: linear-gradient(to bottom, #fffbfb,#ff5353);
    

    
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
    background-color: rgba(255, 255, 255, 0.719);
    width: 60%;
    height: 10vh;
    margin: 2% 20% 0 20%;
    border-radius: 200px;
}

.nav-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 6vh;
    padding: 3%;
}

main{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;

}
.logo{
    width: 20%;
    height: 20%;
    
}

.adress{
    width: 25%;
    height: 25%;
    margin-left: -84px;
    z-index:  1;

}
.title{
    
    width: 60%;
    height: 20vh;
    background-color: #000000d2;
    align-items: center;
    display:flex;
    justify-content: center;
    color:#ffffff;
    font-size: 3vw;
  
    border-radius: 40px 40px 0 0 ;


}

.mainContainer{
    border-radius: 0 0 40px 40px;
    height: 500px;
    width: 60%;
    background-color: rgb(255,255,255);
    
}

.cakeGif{
    width: 40vh;
    height: 40vh;

}